Repository armbian/configng, pull requests merged in 2024-10, with the labels that each got.

#145 Fix wrong quotation marks
  README.md
Labels: 11, Bugfix, size/small, Ready to merge, Documentation

#149 Remove Trixe from unit tests as it often fails
  .github/workflows/unit-tests.yml
Labels: 11, size/small, GitHub Actions, Ready to merge

#121 118 task show menu location in the title box
  lib/armbian-configng/config.ng.functions.sh
Labels: 11, size/small, Ready to merge, Scripts, Unit Tests

#152 Code consistency: we have statuses with Caps, so lets change disabled to Disabled
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
Labels: 11, size/small, Needs review, Scripts

#151 Add device tree overlay management
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
Labels: 11, size/medium, Needs review, Scripts

#157 Escape dots in SSID name in order to be NetPlan config ready
  lib/armbian-configng/config.ng.network.sh
Labels: 11, Bugfix, size/small, Ready to merge, Scripts

#155 SSH daemon have different service names at Ubuntu and Debian
  lib/armbian-configng/config.ng.jobs.json
Labels: 11, Bugfix, size/small, Ready to merge, Scripts

#159 Split JSON into smaller parts + tools for its management
  lib/armbian-configng/config.ng.jobs.json
  tools/README.md
  tools/config-jobs
  tools/json/config.help.json
  tools/json/config.localisation.json
  tools/json/config.network.json
  tools/json/config.software.json
  tools/json/config.system.json
  tools/json/config.temp.json
Labels: 11, size/large, Ready to merge, Scripts, Documentation

#162 UX / cosmetic: when changing MOTD, show it after exit from function
  lib/armbian-configng/config.ng.system.sh
Labels: 11, size/small, Ready to merge, Scripts

#163 Drop DEBIAN_FRONTEND=noninteractive prefix as it shows nothing at more recent apt app
  lib/armbian-configng/config.ng.system.sh
Labels: 11, size/small, Ready to merge, Scripts

#164 Improve kernel switching methodology
  lib/armbian-configng/config.ng.functions.sh
Labels: 11, Bugfix, size/small, Ready to merge, Scripts

#166 Adjust OVERLAY_DIR variable to match build framework settings
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
  tools/json/config.system.json
Labels: 11, Bugfix, Ready to merge, Scripts

#165 Add tool compatibility list to the Readme.md
  README.md
Labels: 11, size/small, Ready to merge, Documentation

#168 Coding style fix: replace whiptail with a wrapper function
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.network.sh
  lib/armbian-configng/config.ng.software.sh
  lib/armbian-configng/config.ng.system.sh
Labels: size/small, Scripts

#171 Function process_input: return 1 on fail, don't exit with 1
  lib/armbian-configng/config.ng.functions.sh
Labels: 11, Discussion, size/small, Scripts

#170 Harden network management and configuration
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.network.sh
  lib/armbian-configng/config.ng.system.sh
  tools/json/config.network.json
Labels: 11, size/large, Ready to merge, Needs review, Scripts

#172 Move change hostname function from JSON file
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
  tools/json/config.localisation.json
Labels: 11, size/small, Ready to merge, Scripts

#176 Add TUX to the head of the document
  lib/armbian-configng/config.ng.docs.sh
Labels: size/small, Scripts

#173 Desktops: refactor desktop install, enable working ones, add unit tests
  .github/workflows/unit-tests.yml
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
  tests/DE01.conf
  tests/DE11.conf
  tests/DE21.conf
  tests/DE31.conf
  tools/json/config.software.json
Labels: 11, size/large, GitHub Actions, GitHub, Needs review, Scripts, Unit Tests

#180 161-feature-request-store-and-show-port-number
  lib/armbian-configng/config.ng.runtime.sh
Labels: 11, size/small, Ready to merge, Scripts

#183 Simplify sudo check require it always.
  bin/armbian-configng
Labels: 11, size/small, Ready to merge

#186 Change to armbian-config also in Unit test CI
  .github/workflows/docs.yml
  .github/workflows/ftp-deploy.yml.hold
  .github/workflows/unit-tests.yml
  README.md
  bin/armbian-config
  lib/armbian-configng/config.ng.docs.sh
  share/applications/configng.desktop
  tests/S17.conf
Labels: size/small, GitHub Actions, GitHub, Scripts, Unit Tests, Documentation

#187 Fixing unit tests execution
  .github/workflows/unit-tests.yml
Labels: size/small, GitHub Actions

#189 Add contribute information to the About app and show it on the exit
  .github/ISSUE_TEMPLATE/bug-reports.yml
  .github/ISSUE_TEMPLATE/feature-reqests.yml
  .github/ISSUE_TEMPLATE/tasks.yml
  bin/armbian-config
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
  tools/json/config.help.json
Labels: 11, Needs review

#191 Add support for changing / spoofing MAC address
  lib/armbian-configng/config.ng.network.sh
Labels: 11, size/small, Ready to merge, Scripts

#188 dynamic document (software) FInal draft
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
  tools/README.md
  tools/config-dynamic-docs.py
  tools/config-markdown.py
  tools/json/config.software.json
Labels: Discussion, size/large, Ready to merge, Scripts, Documentation

#194 Add JSON generation to the docs generation
  .github/workflows/docs.yml
Labels: 11, size/small, GitHub Actions, Ready to merge

#196 Expand dynamic documentation generation with headers, footer and image
  .gitignore
  tools/README.md
  tools/config-markdown.py
  tools/include/README.md
  tools/include/images/DE31.png
  tools/include/markdown/DE31-footer.md
Labels: size/medium, Documentation

#197 Add support for webp images and fix path for them
  tools/config-markdown.py
  tools/include/images/SW25.webp
Labels: size/small

#199 Unit test bug-fix - broken if checking one test at PR
  .github/workflows/unit-tests.yml
Labels: 11, Bugfix, GitHub Actions

#201 Install netcat-traditional instead of netcat
  .github/workflows/unit-tests.yml
Labels: size/small

#204 Fix small troubles with unit tests
  .github/workflows/unit-tests.yml
Labels: 11, Bugfix, Ready to merge

#211 Documentation CI: assemble parts before making it
  .github/workflows/docs.yml
Labels: Bugfix, size/small, GitHub Actions

#213 Update docs.yml to correct json name
  .github/workflows/docs.yml
Labels: size/small, GitHub Actions, Ready to merge

#214 Introduce new parameter that will execute a script prior to packing
  .github/workflows/debian.yml
Labels: 11, Bugfix, size/small, GitHub Actions, Ready to merge

#215 Fix markdown documentation generation
  tools/config-markdown.py
  tools/include/images/CON004.webp
Labels: 11, Bugfix, Ready to merge

#216 Fixing wrong ID for portainer and few cosmetic fixes
  tests/CON005.conf
  tools/include/images/CON005.webp
  tools/include/markdown/CON005-footer.md
  tools/include/markdown/CON005-header.md
  tools/json/config.software.json
Labels: 11, Bugfix, size/small, Ready to merge, Documentation, Unit Tests

#220 Add dedicated CONTRIBUTION.md and adjust README.md
  CONTRIBUTING.md
  README.md
Labels: 11, Documentation
