Repository armbian/configng, pull requests merged in 2024-12, with the labels that each got.

#289 Software title: NetData
  tools/include/images/MON005.png
  tools/include/markdown/MON005-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/install_netdata.sh
Labels: 02, size/medium, Ready to merge, Documentation

#295 Software title: Stirling PDF
  tools/include/images/MED010.png
  tools/include/markdown/MED010-footer.md
  tools/include/markdown/MED010-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/install_stirling.sh
Labels: 02, size/medium, Ready to merge, Documentation

#294 Software title: Watchtower
  tools/include/images/CON007.png
  tools/include/markdown/CON007-footer.md
  tools/include/markdown/CON007-header.md
  tools/json/config.software.json
  tools/modules/software/install_watchtower.sh
Labels: 02, size/medium, Ready to merge, Documentation

#284 Software title: Jellyseerr
  tools/include/images/DOW040.png
  tools/include/markdown/DOW040-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/install_jellyseerr.sh
Labels: 02, size/medium, Ready to merge, Needs review, Documentation

#282 System: add ZFS compilation support
  tools/include/images/SY018.png
  tools/json/config.system.json
  tools/modules/system/install_zfs.sh
Labels: 02, size/medium, Ready to merge

#296 Software title: Uptime-kuma
  tools/json/config.software.json
  tools/modules/software/install_uptime-kuma.sh
Labels: Bugfix, size/medium, Ready to merge, Documentation

#297 Bugfix: set correct folder name
  tools/modules/software/install_jellyseerr.sh
Labels: Bugfix, size/small

#299 manage_dtoverlays: use overlays instead of fdt_overlays in armbianEnv…
  tools/modules/system/manage_dtoverlays.sh
Labels: 02, 11, Bugfix, size/small, Ready to merge

#300 Software title: MariaDb and phpMyAdmin
  tools/include/images/DAT001.png
  tools/include/images/DAT005.png
  tools/include/markdown/DAT001-footer.md
  tools/include/markdown/DAT001-header.md
  tools/include/markdown/DAT005-footer.md
  tools/include/markdown/DAT005-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/install_mariadb.sh
  tools/modules/software/install_phpmyadmin.sh
Labels: 02, Ready to merge

#301 Software title: NextCloud, Owncloud and Syncthing
  tools/include/images/MED015.png
  tools/include/images/MED020.png
  tools/include/images/MED927.png
  tools/include/markdown/MED015-footer.md
  tools/include/markdown/MED015-header.md
  tools/include/markdown/MED020-footer.md
  tools/include/markdown/MED020-header.md
  tools/include/markdown/MED027-footer.md
  tools/include/markdown/MED027-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/install_nextcloud.sh
  tools/modules/software/install_owncloud.sh
  tools/modules/software/install_syncthing.sh
Labels: 02, size/large, Ready to merge, Needs review, Documentation

#298 Add Odroid board selection
  tools/json/config.system.json
  tools/modules/system/manage_odroid_board.sh
Labels: 02, size/medium, Ready to merge, Documentation

#302 Wireless discovery hardening
  tools/modules/network/network_config.sh
Labels: 02, size/small, Ready to merge, Needs review

#310 manage_dtoverlays: also set overlays with board name available
  tools/modules/system/manage_dtoverlays.sh
Labels: Bugfix, size/small, Ready to merge

#292 System: add NFS daemon install and manipulation
  tools/json/config.system.json
  tools/modules/functions/set_runtime_variables.sh
  tools/modules/network/module_nfsd.sh
Labels: 02, size/medium, Ready to merge

#314 Add missing deps for generating deb file
  .github/workflows/debian.yml
Labels: 02, size/small, Ready to merge

#315 Cosmetic: fix line breaking in warning message
  tools/modules/functions/check_distro_status.sh
Labels: 02, size/small, Needs review

#318 Remove wrong unit test definitions
  tests/SY009.conf
Labels: 02, Bugfix, size/small, Ready to merge, Unit Tests

#313 Apply several fixes to NFS service
  tools/json/config.system.json
  tools/modules/functions/service.sh
  tools/modules/runtime/config.runtime.sh
  tools/modules/system/module_nfs.sh
  tools/modules/system/module_nfsd.sh
Labels: 02, size/large, Ready to merge

#328 Make sure docker group is added and user added to the group
  tools/modules/software/install_docker.sh
Labels: 02, size/small, Ready to merge

#329 Webserver & reverse proxy with php and SSL support
  tools/include/images/SWAG01.png
  tools/include/markdown/SWAG01-header.md
  tools/json/config.software.json
  tools/modules/software/install_swag.sh
Labels: 02, size/medium, Ready to merge, Documentation

#334 Closes #333 - Remove redundant install argument in module_armbian_firmware.sh
  tools/modules/system/module_armbian_firmware.sh
Labels: 02, Bugfix, size/small, Ready to merge

#340 Software titles: several small changes to the text
  tools/include/images/WTC001.png
  tools/include/markdown/WTC001-footer.md
  tools/include/markdown/WTC001-header.md
  tools/json/config.software.json
Labels: 02, Ready to merge

#341 Remove escape character from runtime
  tools/modules/runtime/config.runtime.sh
Labels: 02, Bugfix, size/small, Ready to merge

#345 Corrected torrent servers to torrent clients
  tools/json/config.software.json
  tools/modules/software/module_transmission.sh
Labels: 02, size/small, Ready to merge

#346 Transmission: add docker subnet to the whitelist
  tools/modules/functions/set_runtime_variables.sh
  tools/modules/software/module_transmission.sh
Labels: 02, Bugfix, size/small, Ready to merge

#342 Add missing cockpit module
  tests/MAN001.conf
  tests/MAN002.conf
  tools/json/config.software.json
  tools/modules/functions/interface_menu.sh
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_cockpit.sh
Labels: 02, size/medium, Ready to merge, Unit Tests

#331 Improve welcome page, adjust contribution.md, add licence
  .github/images/common.png
  CONTRIBUTING.md
  LICENSE
  README.md
Labels: 02, size/large, GitHub, Ready to merge, Documentation

#347 Unit tests: upgrade unit tests components to mitigate deprecation
  .github/workflows/unit-tests.yml
  tests/NET001.conf
Labels: 02, size/medium, GitHub Actions, GitHub, Ready to merge, Unit Tests
