Repository armbian/configng, pull requests merged in 2024-09, with the labels that each got.

#49 Enable support for adjusting SSH server
  README.md
  lib/armbian-configng/config.ng.docs.sh
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
Labels: enhancement

#52 Re-numbered JSON SSXX for sub system to assist organizing
  README.md
  lib/armbian-configng/config.ng.jobs.json
Labels: documentation, ready

#42 Update Keyboard layout in the RAM filesystem remain after reboot
  lib/armbian-configng/config.ng.jobs.json
Labels: ready

#54 Switch between stable and nighly repository
  README.md
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
Labels: ready

#57 Change set_safe_boot with improved function armbian_fw_manipulate
  README.md
  bin/armbian-configng
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
Labels: ready

#58 Bug fix, jq Null error
  lib/armbian-configng/config.ng.docs.sh
  lib/armbian-configng/config.ng.functions.sh
Labels: ready

#66 Refactor applications, add desktop execution
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
Labels: ready

#69 System: add virtual read-only overlayfs module
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
Labels: ready

#71 UX: when fixing IP address propose existing
  lib/armbian-configng/config.ng.network.sh
Labels: enhancement, ready

#75 Add support for editing default route and DNS
  lib/armbian-configng/config.ng.docs.sh
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.network.sh
Labels: ready

#77 67 feature request tree structure when listing commands
  lib/armbian-configng/config.ng.docs.sh
  lib/armbian-configng/config.ng.jobs.json
Labels: ready

#81 Removed unused files
  lib/bash-utility-master/.editorconfig
  lib/bash-utility-master/.gitignore
  lib/bash-utility-master/.remarkrc
  lib/bash-utility-master/CODE_OF_CONDUCT.md
  lib/bash-utility-master/CONTRIBUTING.md
  lib/bash-utility-master/LICENSE
  lib/bash-utility-master/README.md
  lib/bash-utility-master/bash_utility.sh
  lib/bash-utility-master/bin/bashdoc.awk
  lib/bash-utility-master/bin/generate_readme.sh
  lib/bash-utility-master/image/bash-utility.png
  lib/bash-utility-master/image/logo.png
  lib/bash-utility-master/src/array.sh
  lib/bash-utility-master/src/check.sh
  lib/bash-utility-master/src/collection.sh
  lib/bash-utility-master/src/date.sh
  lib/bash-utility-master/src/debug.sh
  lib/bash-utility-master/src/file.sh
  lib/bash-utility-master/src/format.sh
  lib/bash-utility-master/src/interaction.sh
  lib/bash-utility-master/src/json.sh
  lib/bash-utility-master/src/misc.sh
  lib/bash-utility-master/src/os.sh
  lib/bash-utility-master/src/string.sh
  lib/bash-utility-master/src/terminal.sh
  lib/bash-utility-master/src/validation.sh
  lib/bash-utility-master/src/variable.sh
Labels: bug :bug:, question

#82 added last login toggle
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
Labels: enhancement, ready

#83 Netplan status only works with networkd type of networking
  lib/armbian-configng/config.ng.jobs.json
Labels: ready

#84 Refactor networking configuration logic
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.network.sh
Labels: ready

#90 Introduce apt_install_wrapper function to run apt commands depending on the terminal
  lib/armbian-configng/config.ng.system.sh
Labels: ready

#92 Add editor config to define common coding style
  .editorconfig
Labels: ready

#85 Add kernel switching functionality
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
Labels: ready

#89 Add mechanism for motd management
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
Labels: ready

#99 Adjust package dependencies - needed for bare cloud images
  .github/workflows/debian.yml
Labels: ready

#91 Enable automated functions testings of armbian-config
  .github/workflows/debian.yml
  .github/workflows/unit-tests.yml
  lib/armbian-configng/config.ng.jobs.json
  tests/README.md
  tests/S17.conf
  tests/S18.conf
Labels: ready

#106 Port labelling system from build framework
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/labels-from-yml.yml
  .github/workflows/pr-auto-labeler.yml
Labels: ready

#105 Bugfix: enable linter on bash .sh files, not just on executable ones
  .github/workflows/lint.yml
Labels: 11, size/small, GitHub Actions, Ready to merge

#104 Enable coding style check action that uses .editorconfig definitions
  .editorconfig
  .github/workflows/coding-style.yml
Labels: 11, size/small, GitHub Actions, GitHub, Ready to merge

#101 Alternative kernels - bugfix & hardening installation
  lib/armbian-configng/config.ng.functions.sh
Labels: 11, size/small, Ready to merge, Scripts

#100 Add software items to install/remove Plex Media Server, Emby Server and Docker
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.software.sh
Labels: 11, size/medium, Ready to merge, Scripts

#88 Launcher icons
  debian.conf
  share/applications/configng.desktop
  share/icons/hicolor/128x128/configng-tux.png
  share/icons/hicolor/128x128/configng.png
  share/icons/hicolor/16x16/configng-tux.png
  share/icons/hicolor/16x16/configng.png
  share/icons/hicolor/256x256/configng-tux.png
  share/icons/hicolor/256x256/configng.png
  share/icons/hicolor/32x32/configng-tux.png
  share/icons/hicolor/32x32/configng.png
  share/icons/hicolor/64x64/configng-tux.png
  share/icons/hicolor/64x64/configng.png
  share/icons/hicolor/scalable/configng-cpu.svg
  share/icons/hicolor/scalable/configng-tux.svg
  share/icons/hicolor/scalable/configng.svg
Labels: 11, size/medium, Ready to merge, Scripts

#108 Lint only changed files
  .github/workflows/lint.yml
Labels: size/small, GitHub Actions

#107 Bugfix: Install alternative kernels falled from the menu JSON
  lib/armbian-configng/config.ng.jobs.json
Labels: size/small, Scripts

#111 Refactored json Software section to accommodate the growing number titles
  lib/armbian-configng/config.ng.docs.sh
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.system.sh
  tests/M00.conf
  tests/M01.conf
Labels: 11, size/large, Ready to merge, Scripts, Unit Tests

#112 Bump Checkout action on lint action
  .github/workflows/lint.yml
Labels: 11, size/small, GitHub Actions, Ready to merge

#113 Github: Enable dependabot to make PR's for automatic updates
  .github/dependabot.yml
Labels: 11, size/small, GitHub, Ready to merge

#120 Simple JSON validation and display lines with empty authors
  .github/workflows/validate-json.yml
  lib/armbian-configng/config.ng.jobs.json
Labels: 11, size/small, GitHub Actions, GitHub, Ready to merge, Scripts

#127 Add action for rebuilding documentation
  .github/workflows/docs.yml
  lib/armbian-configng/config.ng.docs.sh
Labels: 11, size/small, GitHub Actions, GitHub, Ready to merge, Scripts

#133 Remove `updated` section as will keep opening new pull requests
  lib/armbian-configng/config.ng.docs.sh
Labels: 11, Bugfix, size/small, Ready to merge, Scripts, Documentation

#126 Bugfix: firmware switch function was not working correctly
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.system.sh
Labels: 11, Bugfix, size/small, Needs review, Scripts

#131 Populate README.md with generic Armbian branding and tl;dr; info
  README.md
Labels: 11, size/large, Ready to merge, Documentation

#123 Enable distro upgrades procedure
  .github/workflows/unit-tests.yml
  lib/armbian-configng/config.ng.jobs.json
  lib/armbian-configng/config.ng.software.sh
  lib/armbian-configng/config.ng.system.sh
  tests/README.md
  tests/S26.conf
  tests/S27.conf
Labels: 11, size/medium, GitHub Actions, GitHub, Needs review, Scripts, Unit Tests, Documentation

#122 117 task Merge status and disabled into one functionality
  lib/armbian-configng/config.ng.functions.sh
  lib/armbian-configng/config.ng.jobs.json
  tests/M00.conf
Labels: size/medium, Ready to merge, Scripts, Unit Tests, Documentation
