Repository armbian/configng, pull requests merged in 2024-11, with the labels that each got.

#223 Cosmetic: fixing link in the bug issue template
  .github/ISSUE_TEMPLATE/bug-reports.yml
Labels: size/small, GitHub

#230 New software title: OpenHab
  tests/HA001.conf
  tools/include/images/HA001.png
  tools/include/markdown/HA001-footer.md
  tools/json/config.software.json
  tools/modules/software/install_openhab.sh
Labels: 11, size/medium, Needs review, Documentation, Unit Tests

#229 Git hub actions: add watchdog to repeat unit tests once and issue auto welcome
  .github/workflows/issue-welcome-first-time.yml
  .github/workflows/watchdog.yml
Labels: 11, size/medium, GitHub Actions, Needs review

#228 Disable desktops as we don't have consistency at build side
  tests/CINNAMON01.conf
  tests/GNOME01.conf
  tests/XFCE01.conf
  tools/json/config.software.json
Labels: 11, size/small, Needs review, Unit Tests

#227 Bugfix: add missing character from character manipulation
  tools/modules/system/switch_kernels.sh
Labels: 11, Bugfix, size/small, Needs review

#224 ZSH: move functions from JSON to separate modules
  tools/json/config.system.json
  tools/modules/system/manage_zsh.sh
Labels: 11, Bugfix, size/medium, GitHub Actions, GitHub, Needs review

#232 Bugfix: we can't fully disable desktop due to automation
  tools/json/config.software.json
  tools/modules/software/install_openhab.sh
Labels: 11, Bugfix, Ready to merge

#234 Disable distribution upgrade as its still pretty fragile
  tools/json/config.system.json
  tools/modules/system/release_upgrade.sh
Labels: 11, Ready to merge

#237 Software title: add Uptime Kuma, self-hosted monitoring tool
  tests/MON001.conf
  tools/include/markdown/MON001-footer.md
  tools/json/config.software.json
  tools/modules/software/install_uptime-kuma.sh
Labels: 11, size/medium, Ready to merge, Documentation, Unit Tests

#246 fix typo: catagory => category
  DOCUMENTATION.md
  bin/armbian-config
  tools/modules/docs/config.docs.sh
Labels: 11, size/small, Ready to merge, Documentation

#249 Fix slightly broken network configuration
  tools/modules/network/default_network_config.sh
  tools/modules/network/network_config.sh
Labels: 11, Bugfix, Ready to merge

#251 Fixing wront number in JSON structure
  tools/json/config.software.json
Labels: 11, Bugfix, size/small, Ready to merge

#254 Add a warning when tool runs with outdated BSP package
  tools/modules/system/manage_dtoverlays.sh
Labels: 11, size/medium, Ready to merge

#257 Add link to adding new feature
  README.md
Labels: size/small, Documentation

#258 Change development repository domain name to github.armbian.com
  README.md
Labels: 11, Bugfix, size/small, Documentation

#256 Overlay management - reverting to previous logic
  tools/json/config.system.json
  tools/modules/system/manage_dtoverlays.sh
Labels: 11, Bugfix, size/medium, Needs review

#261 Add repository list to the Debian package
  debian.conf
  etc/apt/sources.list.d/armbian-config.list
Labels: size/small

#262 Bugfix: put repository list into correct folder
  debian.conf
  tools/repository/armbian-config.list
Labels: size/small

#260 [bug] Need at least one enabled sub
  tools/json/config.software.json
Labels: 11, size/small, Ready to merge, Needs review

#235 Add software package: Home Assistant
  tools/include/images/HA003.png
  tools/include/markdown/HA003-footer.md
  tools/include/markdown/HA003-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/install_haos.sh
Labels: 02, size/medium, Ready to merge, Documentation

#270 Add a collection of applications for downloading
  tools/include/images/DOW001.png
  tools/include/images/DOW003.png
  tools/include/images/DOW005.png
  tools/include/images/DOW011.png
  tools/include/images/DOW013.png
  tools/include/images/DOW015.png
  tools/include/images/DOW017.png
  tools/include/images/DOW019.png
  tools/include/images/DOW021.png
  tools/include/images/DOW023.png
  tools/include/images/DOW025.png
  tools/include/markdown/DOW001-footer.md
  tools/include/markdown/DOW001-header.md
  tools/include/markdown/DOW003-footer.md
  tools/include/markdown/DOW003-header.md
  tools/include/markdown/DOW005-footer.md
  tools/include/markdown/DOW005-header.md
  tools/include/markdown/DOW011-footer.md
  tools/include/markdown/DOW011-header.md
  tools/include/markdown/DOW013-footer.md
  tools/include/markdown/DOW013-header.md
  tools/include/markdown/DOW015-footer.md
  tools/include/markdown/DOW015-header.md
  tools/include/markdown/DOW017-footer.md
  tools/include/markdown/DOW017-header.md
  tools/include/markdown/DOW019-footer.md
  tools/include/markdown/DOW019-header.md
  tools/include/markdown/DOW021-footer.md
  tools/include/markdown/DOW021-header.md
  tools/include/markdown/DOW023-footer.md
  tools/include/markdown/DOW023-header.md
  tools/include/markdown/DOW025-footer.md
  tools/include/markdown/DOW025-header.md
  tools/json/config.software.json
  tools/modules/functions/set_runtime_variables.sh
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/install_bazarr.sh
  tools/modules/software/install_deluge.sh
  tools/modules/software/install_docker.sh
  tools/modules/software/install_lidarr.sh
  tools/modules/software/install_medusa.sh
  tools/modules/software/install_prowlarr.sh
  tools/modules/software/install_qbittorrent.sh
  tools/modules/software/install_radarr.sh
  tools/modules/software/install_readarr.sh
  tools/modules/software/install_sabnzbd.sh
  tools/modules/software/install_sonarr.sh
  tools/modules/software/install_transmission.sh
Labels: 02, size/medium, Needs review, Documentation

#278 Documentation: add additional info to network settings
  tools/include/markdown/NE002-footer.md
Labels: 11, size/small, Ready to merge, Documentation

#277 Headers install: write new module, remove old and doubled
  tools/json/config.system.json
  tools/modules/system/Headers_install.sh
  tools/modules/system/Headers_remove.sh
  tools/modules/system/are_headers_installed.sh
  tools/modules/system/armbian_fw_manipulate.sh
  tools/modules/system/get_headers_install.sh
  tools/modules/system/install_headers.sh
  tools/modules/system/set_header_remove.sh
  tools/modules/system/switch_kernels.sh
Labels: 11, size/medium, Ready to merge

#280 Adding schematic for network settings
  tools/include/markdown/NE002-header.md
Labels: size/small, Documentation

#281 Bugfix: read branch information when we change BSP
  tools/modules/system/install_headers.sh
Labels: 11, Bugfix, size/small

#286 Wireless networking: retry 3 times for getting stations
  tools/modules/network/network_config.sh
Labels: Bugfix, size/small

#285 Overlay management: disable showing this option where its not supported
  tools/json/config.system.json
Labels: size/small
