Repository armbian/configng, pull requests merged in 2025-04, with the labels that each got.

#500 KVM images deployment: switch to non-compressed cloud images
  tools/modules/system/module_armbian_kvmtest.sh
Labels: 05, size/medium, Ready to merge, Needs review

#506 Refactor conditions to use if then fi otherwise tests cases are failing
  tools/modules/software/module_adguardhome.sh
  tools/modules/software/module_armbianrouter.sh
  tools/modules/software/module_bazarr.sh
  tools/modules/software/module_deluge.sh
  tools/modules/software/module_docker.sh
  tools/modules/software/module_domoticz.sh
  tools/modules/software/module_embyserver.sh
  tools/modules/software/module_evcc.sh
  tools/modules/software/module_grafana.sh
  tools/modules/software/module_haos.sh
  tools/modules/software/module_hastebin.sh
Labels: size/medium

#510 Adjust condition to use proper if then fi style
  tools/modules/software/module_adguardhome.sh
  tools/modules/software/module_jellyseerr.sh
  tools/modules/software/module_lidarr.sh
  tools/modules/software/module_mariadb.sh
  tools/modules/software/module_medusa.sh
  tools/modules/software/module_netdata.sh
  tools/modules/software/module_nextcloud.sh
  tools/modules/software/module_octoprint.sh
  tools/modules/software/module_owncloud.sh
  tools/modules/software/module_phpmyadmin.sh
  tools/modules/software/module_portainer.sh
  tools/modules/software/module_uptime-kuma.sh
Labels: 05, size/medium, Ready to merge

#504 Fix kernel selection display for rockchip-rk3588 boards
  tools/modules/system/module_armbian_firmware.sh
Labels: 05, size/small, Ready to merge

#516 Switch Netdata to host network for proper metrics and accessibility
  tools/modules/software/module_netdata.sh
Labels: 05, size/small, Ready to merge

#515 Do not disable cgroupsv2 on Home Assistant installation
  tools/modules/software/module_haos.sh
Labels: 05, size/small, Ready to merge

#536 Improve auto-labeling - copy improvements from build fw repository
  .github/workflows/pr-auto-labeler.yml
Labels: GitHub Actions, Ready to merge

#537 Switch adguard home to network host for accurate client ip address logging
  tools/modules/software/module_adguardhome.sh
Labels: 05, size/small, Ready to merge

#451 Raspberry Pi: add support for managing overlays
  tools/modules/system/manage_dtoverlays.sh
Labels: 02, 05, size/small, Ready to merge

#540 Fixing bug on non Rpi boards for displaying overlays
  tools/modules/system/manage_dtoverlays.sh
Labels: 05, size/small

#547 Adjust keywords for displaying links with ports in the menu
  tools/modules/runtime/config.runtime.sh
Labels: 05, size/small, Ready to merge

#535 Default module implementation
  tools/modules/functions/module_default.sh
Labels: size/medium, Ready to merge

#479 Software title: NetAlertX - scan, monitor and visualize your networks
  tools/include/images/NAX001.png
  tools/include/markdown/NAX001-footer.md
  tools/include/markdown/NAX001-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_netalertx.sh
Labels: 05, size/medium, Needs review, Documentation

#419 Software title: actual budget
  tools/include/images/ABU001.png
  tools/include/markdown/ABU001-footer.md
  tools/include/markdown/ABU001-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_actualbudget.sh
Labels: 02, size/medium, Needs review, Documentation

#404 Enable updates of kernel on all
  tools/json/config.system.json
Labels: 02, size/small, Needs review

#293 Software title: Homepage
  tools/include/images/HPG001.png
  tools/include/markdown/HPG001-footer.md
  tools/include/markdown/HPG001-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_homepage.sh
Labels: 02, size/medium, Ready to merge, Documentation

#555 Software title: Duplicati backup service
  tests/duplicati.conf
  tools/include/images/DPL001.png
  tools/include/markdown/DPL001-footer.md
  tools/include/markdown/DPL001-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_duplicati.sh
Labels: 05, size/medium, Ready to merge, Documentation, Unit Tests

#561 Software title: Add Redis Module Support
  tests/redis.conf
  tools/include/images/REDIS1.png
  tools/include/markdown/REDIS1-footer.md
  tools/include/markdown/REDIS1-header.md
  tools/json/config.software.json
  tools/modules/software/module_redis.sh
Labels: 05, size/medium, Ready to merge, Documentation, Unit Tests

#560 Software tittle: Add PostgreSQL Module Support
  tests/postgres.conf
  tools/include/markdown/PGSQL1-footer.md
  tools/include/markdown/PGSQL1-header.md
  tools/json/config.software.json
  tools/modules/software/module_postgres.sh
Labels: 05, size/medium, Work in progress, Ready to merge, Documentation, Unit Tests

#563 Bugfix: we need to use normal if, otherwise unit test return 1
  tools/modules/software/module_duplicati.sh
Labels: 05, size/small, Ready to merge

#564 Application logos: fix some of images
  tools/include/images/CON001.png
  tools/include/images/PGSQL1.png
  tools/include/images/POR001.png
  tools/include/images/SON001.png
Labels: 05, size/small

#568 Optimize JSON Validation Workflow
  .github/workflows/validate-json.yml
  tools/json/config.help.json
  tools/json/config.localisation.json
  tools/json/config.network.json
  tools/json/config.software.json
  tools/json/config.system.json
  tools/json/config.temp.json
Labels: 05, size/medium, GitHub Actions, GitHub, Needs review

#569 Add Scheduled Workflow to Clean Old GitHub Action Logs
  .github/workflows/clean-workflow-logs.yml
Labels: 05, size/small, GitHub Actions

#570 Adjust images and markdown files
  tools/include/images/LOC001.png
  tools/include/images/WRG001.png
  tools/include/markdown/HAB001-footer.md
  tools/include/markdown/NAV001-header.md
  tools/include/markdown/NEA002-footer.md
  tools/include/markdown/NEA002-header.md
  tools/include/markdown/STC001-footer.md
  tools/include/markdown/STC001-header.md
  tools/include/markdown/WRG001-footer.md
  tools/include/markdown/WRG001-header.md
Labels: size/small, Documentation

#575 Software title: Add Immich as a self-hosted photo/video backup option
  tools/include/images/IMM001.png
  tools/include/markdown/IMM001-footer.md
  tools/include/markdown/IMM001-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_immich.sh
  tools/modules/software/module_netbox.sh
  tools/modules/software/module_postgres.sh
Labels: 05, size/large, Ready to merge, Documentation

#574 standardize naming in Kernel/firmware upgrades
  DOCUMENTATION.md
  tools/json/config.system.json
Labels: 05, size/small, Documentation
