Repository armbian/configng, pull requests merged in 2025-07, with the labels that each got.

#634 Wireguard: suppress errors if Docker is not yet installed
  tools/modules/software/module_wireguard.sh
Labels: 08, Bugfix, size/small, Ready to merge

#635 Pi-hole: link with Unbound by default, change default port, bugfixes
  tools/include/markdown/PIH001-footer.md
  tools/include/markdown/PIH001-header.md
  tools/include/markdown/UNB001-footer.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_pi-hole.sh
  tools/modules/software/module_unbound.sh
Labels: 05, 08, Bugfix, size/medium, Ready to merge, Documentation

#637 Pi-Hole: updating documentation
  tools/include/markdown/PIH001-footer.md
  tools/include/markdown/PIH001-header.md
Labels: 08, size/small

#615 Update to manage_dtoverlays.sh for overlay_prefix handling (revised)
  tools/modules/system/manage_dtoverlays.sh
Labels: 08, size/small, Ready to merge

#576 CI: add GitHub Action to detect duplicate module ports
  .github/workflows/validate-json.yml
Labels: 05, size/small, GitHub Actions, GitHub, Ready to merge

#641 Networking setup: add a link to manual way
  tools/include/markdown/BNS001-footer.md
Labels: 08, size/small, Documentation

#639 Fix duplicate ports on most of the applications
  tools/include/markdown/DOM001-header.md
  tools/include/markdown/EMB001-footer.md
  tools/include/markdown/GRA001-footer.md
  tools/include/markdown/HAB001-footer.md
  tools/include/markdown/HPG001-footer.md
  tools/include/markdown/NCT001-footer.md
  tools/include/markdown/PRO001-footer.md
  tools/include/markdown/SABN01-footer.md
  tools/include/markdown/STR001-footer.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_domoticz.sh
  tools/modules/software/module_embyserver.sh
  tools/modules/software/module_grafana.sh
  tools/modules/software/module_homepage.sh
  tools/modules/software/module_nextcloud.sh
  tools/modules/software/module_prometheus.sh
  tools/modules/software/module_sabnzbd.sh
  tools/modules/software/module_stirling.sh
  tools/modules/system/manage_dtoverlays.sh
Labels: 05, 08, Bugfix, size/medium, Documentation

#644 I observed the wave function collapsing into a string to break the event horizon, and wished it away before it could
  tools/modules/software/module_jellyfin.sh
Labels: 05, 08, size/small, Ready to merge
