Repository armbian/configng, pull requests merged in 2025-05, with the labels that each got.

#578 Move wireguard to software section VPN
  tools/json/config.network.json
  tools/json/config.software.json
Labels: 05, size/medium, Ready to merge

#580 Add ZeroTier short description to fit menu
  tools/json/config.software.json
Labels: 05

#581 Move Armbian related services in dedicated section
  .github/workflows/validate-json.yml
  tools/include/images/ART001.png
  tools/include/images/GHR001.png
  tools/include/markdown/ART001-header.md
  tools/include/markdown/GHR001-footer.md
  tools/include/markdown/GHR001-header.md
  tools/json/config.software.json
  tools/modules/software/module_armbianrouter.sh
  tools/modules/system/module_armbian_rsyncd.sh
  tools/modules/system/module_armbian_runners.sh
Labels: 05, size/medium, GitHub Actions, GitHub, Documentation

#582 Optimizing images - no other changes
  tools/include/images/ADG001.png
  tools/include/images/NAV001.png
  tools/include/images/NBOX01.png
  tools/include/images/RSD001.png
  tools/include/images/STR001.png
  tools/include/images/TRA001.png
  tools/include/images/UNB001.png
  tools/include/images/UPK001.webp
  tools/include/images/WBM001.png
  tools/include/images/WTC001.png
  tools/include/images/ZFS001.png
  tools/include/images/ZTR001.png
Labels: 05, size/small

#584 Match JSON and modules in order to read data stored in modules
  tools/config-markdown.py
  tools/json/config.software.json
Labels: 05, size/medium

#585 Update all missing connections between JSON and modules
  tools/config-markdown.py
  tools/json/config.localisation.json
  tools/json/config.network.json
  tools/json/config.software.json
  tools/json/config.system.json
  tools/modules/network/module_network_simple.sh
  tools/modules/system/manage_odroid_board.sh
  tools/modules/system/module_generic.sh
Labels: 05, size/medium

#586 Netbox: unit tests are failing - probably due to too small timeout
  tests/netbox.conf
Labels: 05, size/small, Unit Tests

#588 Software title: OMV (openmediavault)
  tests/omv.conf
  tools/include/images/OMV001.png
  tools/include/markdown/OMV001-footer.md
  tools/include/markdown/OMV001-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_omv.sh
Labels: 05, size/medium, Documentation, Unit Tests

#590 Software title: File browser
  tools/include/images/FIL001.png
  tools/include/markdown/FIL001-footer.md
  tools/include/markdown/FIL001-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_filebrowser.sh
  tools/modules/software/module_transmission.sh
Labels: 05, size/medium, Documentation

#595 Fileserver: fixing typo that broke rendering of documentation
  tools/include/markdown/FIL001-footer.md
Labels: size/small, Documentation

#596 Network config: Show the "disable hotspot" dialog only if there is an active hotspot on the selected interface.
  tools/modules/network/network_config.sh
Labels: 05, size/small, Ready to merge

#600 Update IMM001-footer.md for immich
  tools/include/markdown/IMM001-footer.md
Labels: 05, size/small, Ready to merge, Documentation

#602 Add buttons for editing or adding header and footer
  tools/config-markdown.py
Labels: 05, size/medium, Ready to merge

#593 Improve clarity of main README.me
  README.md
Labels: 05, size/medium, Ready to merge, Documentation

#603 Improve clarity of main README.me (#593)
  README.md
Labels: 05, size/medium, Documentation

#605 Disable reboot in non-interactive
  tools/modules/software/module_haos.sh
Labels: 05, size/small

#604 Improve first time welcome text
  .github/workflows/issue-welcome-first-time.yml
Labels: 05, size/small, GitHub Actions, Ready to merge

#606 Runner install: add missing dependencies
  tools/modules/system/module_armbian_runners.sh
Labels: 05, size/small, Ready to merge

#607 We need to have all items in the sidebar
  tools/include/images/GTZ001.png
  tools/json/config.localisation.json
Labels: 05, size/small, Ready to merge
