Repository armbian/configng, pull requests merged in 2025-03, with the labels that each got.

#460 software: armbianrouter: add cdn.armbian.com container
  tools/modules/software/module_armbianrouter.sh
Labels: 05, size/small, Ready to merge

#459 Unattended Upgrade Manager module - reconfiguring automatic updates
  tools/json/config.system.json
  tools/modules/system/module_armbian_upgrades.sh
Labels: 05, size/medium, Ready to merge

#452 Desktop install bugfix: we need to keep old configs when installing packages
  tools/modules/system/module_desktop.sh
Labels: 02, 05, Bugfix, size/small, Ready to merge

#464 Update README.md
  README.md
Labels: 05, size/small, Ready to merge, Documentation

#463 Armbian rsyncd: fix port used in the module
  tools/modules/system/module_armbian_rsyncd.sh
Labels: 05, Bugfix, size/small, Ready to merge

#466 HA on RaspberryPi: enable apparmor properly
  tools/modules/software/module_haos.sh
Labels: 05, Bugfix, size/small, Ready to merge

#461 Software title: add ANSI hastebin docker instance
  tools/json/config.software.json
  tools/modules/software/module_hastebin.sh
Labels: 05, size/medium, Ready to merge

#472 Change to different method of getting changed files
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Labels: 05, size/small, GitHub Actions, Ready to merge

#471 Add arch to the module template
  tools/template/module_software_template.sh
Labels: 05, size/small, Ready to merge

#470 Add Zerotier into configng
  tools/json/config.software.json
  tools/modules/software/module_zerotier.sh
Labels: 05, size/medium, Ready to merge

#446 kernel: show rk3588 vendor kernel overlays in overlays section
  tools/modules/functions/set_runtime_variables.sh
  tools/modules/system/install_headers.sh
  tools/modules/system/manage_dtoverlays.sh
Labels: 05, size/small, Ready to merge

#474 Bugfix: allow switching from rockchip edge / current to vendor
  tools/modules/system/module_armbian_firmware.sh
Labels: size/small

#476 Revert "Change to different method of getting changed files"
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Labels: size/small, GitHub Actions

#477 Add code style checking exception for Prometheus
  tools/modules/software/module_prometheus.sh
Labels: 05, size/small, GitHub Actions, GitHub, Ready to merge

#481 software: switch hastebin to golang version
  tools/modules/software/module_hastebin.sh
Labels: 05, size/small, Ready to merge

#486 Add screenshot for several section of auto-made documentation
  tools/include/images/BNS001.png
  tools/include/images/LO001.png
  tools/include/images/SY001.png
  tools/include/images/SY005.png
  tools/include/images/SY101.png
  tools/include/images/SY201.png
  tools/include/images/SY202.png
  tools/include/images/SY204.png
  tools/include/images/UNAT02.png
  tools/include/images/VNS001.png
Labels: 05, size/small, Ready to merge, Documentation

#489 Documentation: add additional screenshots and parts of instructions
  tools/include/images/SY010.png
  tools/include/images/SY210.png
  tools/include/images/WG002.png
  tools/include/images/WG003.png
  tools/include/images/WG004.png
  tools/include/markdown/BNS001-footer.md
  tools/include/markdown/SY006-header.md
  tools/include/markdown/SY201-header.md
  tools/include/markdown/SY204-header.md
  tools/include/markdown/SY220-header.md
Labels: size/medium, Needs review, Documentation

#485 Derive "branch" and "linuxfamily" from currently installed kernel: fix for kernel hold / unhold
  tools/modules/functions/set_runtime_variables.sh
  tools/modules/system/install_headers.sh
  tools/modules/system/manage_dtoverlays.sh
  tools/modules/system/module_armbian_firmware.sh
Labels: 05, size/medium, Ready to merge

#493 Costmetic fix: do not gre rsync file if it doesn't exisits
  tools/modules/runtime/config.runtime.sh
Labels: 05, Bugfix, Ready to merge

#498 [bug] Fixed Non supported OS warning message.
  bin/armbian-config
Labels: size/small
