Repository armbian/configng, pull requests merged in 2025-02, with the labels that each got.

#411 Activate the specified network interface, before applying IP stack
  tools/modules/network/module_network_simple.sh
Labels: 02, Bugfix, size/small, Ready to merge

#410 ZFS: define architecture for ZFS module
  tools/modules/system/module_zfs.sh
Labels: 02, size/small, Ready to merge

#407 feat: Use deb822 format for APT sources
  README.md
  debian.conf
  tools/repository/armbian-config.list
  tools/repository/armbian-config.sources
Labels: 02, size/small, Ready to merge, Documentation

#417 Pi-hole and adguardhome: addressing small bugs, hardening
  tools/include/markdown/DNS001-footer.md
  tools/include/markdown/DNS001-header.md
  tools/modules/software/module_adguardhome.sh
  tools/modules/software/module_pi-hole.sh
Labels: 02, size/medium, Ready to merge

#422 Fix package name
  tools/modules/functions/check_desktop.sh
Labels: size/small, Ready to merge

#425 Bugfix: Pinning is also needed otherwise kernel doesn't downgrade
  tools/modules/functions/set_runtime_variables.sh
  tools/modules/system/module_armbian_firmware.sh
Labels: 02, Bugfix, size/medium, Ready to merge

#426 Navidrom: fix problems that are popping up on unit tests
  tools/modules/software/module_navidrome.sh
Labels: 02, size/small, Ready to merge

#387 Automation: automatically close issues marked as "Can be closed?"
  .github/workflows/stale.yml
Labels: 02, size/small, GitHub Actions, Ready to merge

#435 KVM management: add command to drop all saved states
  tools/modules/system/module_armbian_kvmtest.sh
Labels: size/small

#438 KVM and runners deploy: fixing parameter readings
  tools/modules/system/module_armbian_kvmtest.sh
  tools/modules/system/module_armbian_runners.sh
Labels: 02, Bugfix, size/small, Ready to merge

#436 Refactoring Desktop installation
  tests/XFCE01.conf
  tests/gnome_desktop.conf
  tests/xfce_desktop.conf
  tools/include/images/GNOME01.png
  tools/include/images/XFCE01.png
  tools/include/markdown/GNOME01-header.md
  tools/include/markdown/XFCE01-header.md
  tools/json/config.software.json
  tools/modules/system/manage_desktops.sh
  tools/modules/system/module_desktop.sh
  tools/modules/system/module_desktop_packages.sh
Labels: 02, size/large, GitHub Actions, GitHub, Ready to merge, Documentation, Unit Tests

#447 Kernel switching: manage exceptions (Rockchip vendor)
  tools/modules/system/module_armbian_firmware.sh
Labels: 02, 05, Bugfix, size/medium, Ready to merge

#429 Add armbian-router to software section
  tools/json/config.software.json
  tools/modules/software/module_armbianrouter.sh
Labels: 02, 05, size/medium, Ready to merge

#456 Module ZSH: update package before installing ZSH package
  tools/modules/system/manage_zsh.sh
Labels: 05, Bugfix, Ready to merge
