Repository armbian/configng, pull requests merged in 2025-01, with the labels that each got.

#351 Software title: Grafana monitoring dashboards
  tools/include/images/GRA001.png
  tools/include/markdown/GRA001-footer.md
  tools/include/markdown/GRA001-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_grafana.sh
Labels: 02, Ready to merge

#350 Docker engine bugifix: adding service start command
  tools/modules/software/module_docker.sh
Labels: 02, Bugfix, size/small, Ready to merge

#353 Software title: Wireguard VPN server
  tools/include/images/WG001.png
  tools/include/markdown/WG001-footer.md
  tools/include/markdown/WG001-header.md
  tools/json/config.network.json
  tools/modules/software/module_wireguard.sh
Labels: 02, size/medium, Ready to merge, Documentation

#355 [Bugfix]: Unexpected command executed when config overlays #349
  tools/modules/system/manage_dtoverlays.sh
Labels: 02, size/small, Ready to merge

#356 Software title: sandboxed & containerised SSH server
  tools/include/images/SSH200.png
  tools/include/markdown/SSH200-footer.md
  tools/include/markdown/SSH200-header.md
  tools/json/config.system.json
  tools/modules/system/module_sshserver.sh
Labels: size/medium, Documentation

#362 Fix HomeAssistant images path on web documentation
  tools/include/images/HAS001.png
  tools/include/markdown/HAS001-footer.md
  tools/include/markdown/HAS001-header.md
Labels: Bugfix

#357 Sandboxed SSH server: add rsync to the Docker container
  tools/modules/system/module_sshserver.sh
Labels: 02, size/small, Ready to merge

#366 Module Docker: Check if SUDO_USER variable is defined
  tools/modules/software/module_docker.sh
Labels: 02, Bugfix

#364 Armbian internal: GitHub runners deployment script
  tools/modules/system/module_armbian_runners.sh
Labels: 02, size/medium, Framework, Ready to merge

#365 Armbian internal: deploy Armbian qemu KVM instances
  tools/modules/system/module_armbian_kvmtest.sh
Labels: 02, size/medium, Ready to merge

#371 Distro verification: Display warning for 10 seconds and auto continue
  tools/modules/functions/check_distro_status.sh
  tools/modules/functions/config_interface.sh
Labels: 02, size/small, Ready to merge

#369 Armbian runners deploy: fixing bugs
  tools/modules/system/module_armbian_runners.sh
Labels: size/small

#377 Enabling KVM - small bugfix
  tools/modules/system/module_armbian_kvmtest.sh
Labels: 02, Bugfix, size/small, Ready to merge

#372 manage_overlayfs: Keep the default value of overlayroot_cfgdisk
  tools/modules/system/manage_overlayfs.sh
Labels: 02, size/small, Ready to merge

#378 Overlayfs: refactor module structure
  tools/json/config.system.json
  tools/modules/system/manage_overlayfs.sh
  tools/modules/system/module_overlayfs.sh
Labels: 02, size/medium, Ready to merge

#370 Improve unit test system with additional test case functionality
  .github/workflows/unit-tests.yml
  bin/armbian-config
  tests/CON002.conf
  tests/CON005.conf
  tests/DAT001.conf
  tests/HAB001.conf
  tests/HAS001.conf
  tests/MAN001.conf
  tests/MAN002.conf
  tests/MON001.conf
  tests/NET001.conf
  tests/README.md
Labels: 02, size/medium, GitHub Actions, GitHub, Ready to merge, Documentation, Unit Tests

#380 Unit tests: drop several old test cases
  tests/SY008.conf
  tests/SY101.conf
  tests/SY102.conf
  tests/SY202.conf
  tests/SY203.conf
  tests/SY206.conf
  tests/SY207.conf
Labels: size/small, Unit Tests

#367 Software title: Navidrome Music Server and Streamer
  tests/NAV001.conf
  tools/json/config.software.json
  tools/modules/software/module_navidrome.sh
Labels: 02, size/medium, Ready to merge, Unit Tests

#381 Add GPG key download for 3rd party distro
  README.md
Labels: 02, Bugfix, Ready to merge, Documentation

#383 Repository consistency: rename armbian-development to armbian-config.list
  README.md
Labels: 02, Ready to merge, Documentation

#386 Update issue template
  .github/ISSUE_TEMPLATE/bug-reports.yml
Labels: 02, size/small, GitHub, Ready to merge

#392 Oracular Ubuntu is no more, switching to Plucky
  tools/modules/system/module_armbian_kvmtest.sh
Labels: 02, Ready to merge

#393 Fix wrong overlay manipulation
  tools/modules/system/manage_dtoverlays.sh
Labels: 02, Bugfix, size/small, Ready to merge

#394 RFC: Networking - add simple way without using bridge
  tools/include/markdown/BNS001-footer.md
  tools/include/markdown/BNS001-header.md
  tools/json/config.network.json
  tools/modules/network/module_network_simple.sh
Labels: 02, size/large, Ready to merge, Documentation

#398 Software title: Domoticz Home Automation System
  tools/include/images/DOM002.png
  tools/include/markdown/DOM001-header.md
  tools/json/config.software.json
  tools/modules/runtime/config.runtime.sh
  tools/modules/software/module_domoticz.sh
Labels: 02, size/medium, Ready to merge, Documentation

#400 Improve several images for documentation
  tools/include/images/HAB001.png
  tools/include/images/MAN001.png
  tools/include/images/MON001.webp
  tools/include/images/NAV001.png
  tools/include/images/NET001.png
  tools/include/images/NET003.png
Labels: 02, size/small, Ready to merge

#396 NFS: several fixes to improve handling
  tools/json/config.system.json
  tools/modules/system/module_nfs.sh
  tools/modules/system/module_nfsd.sh
Labels: 02, Bugfix, size/small, Ready to merge
